@import "reset";
@import "variables";
@import "home";
@import "resume";
@import "infoSection";
@import "portfolio";
@import "contact";


html, body {
	font-size: 18px;
 	background-color: white;
 	font-family: 'Barlow Semi Condensed', sans-serif;
 	height: 100%;
 	width: 100%;
 }

 .padding-0 {
 	padding: 0 !important;
 	margin: 0 !important;
 }

 .padding-2 {
 	padding: 2 !important;
 	margin: 2 !important;
 }

 .padding-5 {
 	padding: 5 !important;
 	margin: 5 !important;
 }


.menu-icon {
		position: fixed;
		right: 36px;
		top: 26px;
		padding: 20px;
		z-index: 11;

	.fa {
		font-size: 2rem;
		color: $color2;
	}
}

.button-section {
	display: flex;
	justify-content: center;
}

.primary-btn {
 	background-color: $color1;
 	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	text-transform: uppercase;
	letter-spacing: 4px;
	display: inline-flex;
	padding: 17px 30px;
	margin: 0px auto;
	transition: $btnTransition;
	a {
		color: white;
	}
	&:hover {
		background-color: $hoverColor;
		a {
			text-decoration: none !important;

		}
	}
}

.ghost-btn {
	border: 3px solid $color1;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	display: inline-flex;
	padding: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: $color1;
	margin: 0px auto;
	transition: $btnTransition;

	&:hover {
		border-color: $hoverColor;
		a {
			text-decoration: none !important;
			color: $hoverColor;
		}
	}
}

#menu {
	background-color: $color1; 
	position: fixed;
	transform: translate3d(-140%, 0, 0);
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	transition: all .8s ease-in-out;

	nav {
		width: 400px;
		text-align: center;
		text-decoration: none;

		a {
			display: block;
			font-size: 2.3rem;
			padding: 1rem;
			text-decoration: none;
			color: white;
			&:hover {
				color: $color5;
			}

		}
	}
}

.menu-active {
	.menu-icon {
		.fa {
			color: white;
		}
	}
	#menu {
		top: 0;
		bottom:0;
		right: 0;
		left: 0;
		transform: translate3d(0, 0, 0);
	}
} 

.scrolling-section {
	height: 100vh;
	overflow-y: scroll;
	over-flow-x: hidden;
	padding: 50px;
}