.resume {

	.color3 {
		color: $color1;
	}

	.row {
		height: 100%;
	}

	.content-area {
		background: white;
		height: 100%;
	

		h1 {
			font-weight: 700;
			font-size: 2rem;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
		h5 {
			font-weight: 500;
			font-size: 1.3rem;
			margin-bottom: 1.4rem;
		}

		p {
			margin-bottom: 1rem;
		}

		.category {
			margin-bottom: 50px;
			.xp-section {
			margin-left:2px;
			width: 95%;
			height: 90%;
			.xp-box {
				padding: 20px 30px 0px 20px;
				transition: all .5s ease-in-out;
				cursor: pointer;

				&:hover {
				-webkit-box-shadow: 0px 10px 70px 0px rgba(8,36,150,0.20);
				-moz-box-shadow: 0px 10px 70px 0px rgba(8,36,150,0.20);
				box-shadow: 0px 10px 70px 0px rgba(8,36,150,0.20);
				}

			}
		}
		}
	}
}

/*small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.resume {

		.info-section {
			.info-box {
				display: none;
			}

			.logo {
				margin: 40px 40px;
			}
		}

		.content-area {
			display: flex;
			flex-direction: column;

			.profile-section {
				display: flex;
				margin-top:20%;
				.profile {
					text-align: center;
					margin: 0 0% 5%;
					position: absolute;
					bottom: -50%;
					width: 90%;

					h1 {
						padding-right: 10px;
					}

					.button-section {
						margin: 0 0 0 0%;
					}
				}
			}

			.img-container {
				img {
					position: absolute;
					left: 11%;
					width: 75%;
					top: 5%;
				}
			}

			.menu-icon {
				position: absolute;
				top: -80px;
				.fa {
					color: white;
				}

			}
		}
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {

	.resume {
		.info-section {
			.info-box {
				position: absolute;
				left: 37%;
				bottom: 27%;
				p, h4 {
					display: none;
				}
				.icon-section {
					display: inline-flex;
					a {
						margin: 0 10%;
						&:first-child {
							margin-left: 0;
						}
					}
				}
			}

			.logo {
				margin: 40px 40px;
			}
		}

		.content-area {
			.img-container {
				margin: 0 0 0 2%;
			}

			.profile-section {
				.profile {

					.button-section {
						display: block;

						.ghost-btn {
							margin: 10% 0;
						}

						.primary-btn {
							margin-top: 5%;
						}
					}

					p {
						display: none;
					}
				}
			}

			.menu-icon {
				position: absolute;
				top: -80px;
				.fa {
					color: white;
				}

			}

		}

	}
} 


/* Medium devices */
@media only screen and (min-width: 768px) and (max-width: 991px) {

	.scrolling-section {
		height: 100vh;
		overflow-y: scroll;
		over-flow-x: hidden;
		padding: 50px 20px 50px 40px!important;
	}

	.resume {
		.info-section {
			.info-box {
				position: absolute;
				left: 37%;
				bottom: 27%;
				p, h4 {
					display: none;
				}
				.icon-section {
					display: inline-flex;
					a {
						margin: 0 20%;
						&:first-child {
							margin-left: -20%;
						}
					}
				}
			}

			.logo {
				margin: 40px 40px;
			}
		}

		.content-area {
			.img-container {
				margin: 0 0 0 2%;
			}

			.profile-section {
				.profile {
					transition: all .5s ease-in-out;
				}
			}

			.menu-icon {
				position: absolute;
				top: -80px;
				.fa {
					color: white;
				}

			}

		}
	}

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.resume {

		.content-area {
			.img-container {
				margin: 0 0 0 -17%;
			}
		}

		.profile {
			font-size: 20px;
		}

		.info-section {
			width: 100%;
			/*.info-box {
				width: 140px;
				p {
					word-wrap: break-word;
					width: 110px;
				}

				a {
					font-size: 1rem;
				} 

			} */

			.logo {
				font-size: 2.7rem;
				width: 120px;
			}
		}
	}
} 


